
<ul class="side_menu">
	<li> 
		<a href="{% url 'chart_of_accounts' %}" class="">
			<i class="fa fa-calculator side_menu_icon"></i>
			Accounts 
		</a>
	</li>
	<li> 		
		<a href="{% url 'customers' %}" class="">
			<i class="fa fa-user side_menu_icon"></i>
			Customers
		</a> 
	</li>
	<li> 
		<a href="{% url 'suppliers' %}" class="">
			<i class="fa fa-users side_menu_icon"></i>
			Suppliers 
		</a>
	</li>
	<li> 
		<a href="{% url 'items' %}" class="">
			<i class="fa fa-cubes side_menu_icon"></i>
			Inventory 
		</a>
	</li>
	<li> 
		<a href="{% url 'purchase_entry' %}" class="">
			<i class="fa fa-briefcase side_menu_icon"></i>
			Purchase 
		</a>
	</li>
	<li>
		<a href="{% url 'sales_entry' %}" class="">
			<i class="fa fa-truck side_menu_icon"></i>
			Sales 
		</a>
	</li>
	<li> 
		<a href="{% url 'purchase_report' %}" class="">
			<i class="fa fa-file-text side_menu_icon"></i>
			Reports 			
		</a>
	</li>
</ul>