{% extends 'base.html' %}
{% block body_id %}reports{% endblock %}
{% block title %} Ledger Book {% endblock title%}
{% block controller %} ng-controller="LedgerReportController" ng-init="init('{{csrf_token}}')"{% endblock controller %}
{% block extrahead %}
	<script>
		$(function() {
			$("#start_date").datepicker();
			$("#end_date").datepicker();
		});
	</script>
{% endblock %}
{% block horizontal_menu %}
	<ul>
		<li class=""> <a href="{% url 'purchase_report' %}"> Purchase </a></li>
		<li> <a href="{% url 'sales_report' %}"> Sales </a></li>
		<li> <a href="{% url 'sales_return_report' %}" class="no-border"> Sales Return </a></li>
		<li class="horizontal_menu_active"><a href="{% url 'day_book' %}"> Accounts </a></li>
		<li><a href="{% url 'vendor_stock_report' %}"> Suppliers </a> </li>
		<li><a href="{% url 'received_report' %}"> Customers </a></li>
		<li><a href="{% url 'salesman_incentive_report' %}"> Salesman </a></li>
		<li><a href="{% url 'pdc_report' %}"> PDC Report </a></li>
		<li><a href="{% url 'stock_report' %}"> Inventory </a></li>
		
	</ul>
{% endblock %}
{% block sub_menu %}
	<li> <a href="{% url 'day_book' %}"> Day Book </a></li>
	<li> <a href="{% url 'cash_book' %}"> Cash Book </a></li>
	<li> <a href="{% url 'bank_book' %}"> Bank Book </a></li>
	<li class="horizontal_menu_active"> <a href="{% url 'ledger_report' %}"> Ledger Report </a></li>
	<li><a href="{% url 'account_statement' %}">Account Statement</a></li>
	<li><a href="{% url 'trial_balance' %}">Trial Balance</a></li>
	<li><a href="{% url 'profit_and_loss_statement' %}">Profit & Loss</a></li>
	<li><a href="{% url 'balance_sheet' %}">Balance Sheet</a></li>
	<li><a href="{% url 'account_statement' %}">Account Statement</a></li>
{% endblock sub_menu%}
{% block content %}
	<h2>Ledger Report </h2>
	<div class="report_form row">
		<div class="col-md-6 col-sm-6">
			<div class="control">
				<label>Start Date </label>
				<input type="text" id="start_date" ng-model="start_date" readonly>
			</div>
			<div class="control">
				<label>End Date </label>
				<input type="text" id="end_date" ng-model="end_date" readonly>
			</div>
			<div class="control">
				<label> Ledger </label>
				<input type="text" name="ledger_name" ng-model="ledger_name" ng-change="get_ledger_list()" ng-disabled="ledger.id" autocomplete="off">
				<div ng-show="ledgers_list.length > 0" class="search_list">
					<div ng-repeat="ledger in ledgers_list" class="search_list_item" ng-click="get_ledger_details(ledger)" ng-class="{'highlight': $index == focusIndex}">
						<span>[[ledger.name]] - [[ledger.parent_name]]</span>
					</div>
				</div>
			</div>
			<div class="button_control">
				<p class="error_msg">[[no_ledger_msg]]</p>
				<p class="error_msg">[[validate_error_msg]]</p>
				<input type="button" class="create_button" ng-click="view_ledger()" value="View"/>
				<input type="button" class="create_button" ng-click="view_ledger('pdf')"  value="Generate PDF"/>
			</div>
		</div>
		<div class="col-md-12 col-sm-12">
			<div class="control">
				<table ng-show="ledger_entries.length > 0" class="table table-stripped">
					<tr>
						<th>#</th>
						<th>Date</th>
						<th>Ref No</th>
						<th>Particulars</th>
						<th>Debit Amount</th>
						<th>Credit Amount</th>
						<th>Balance</th>
					</tr>
					<tr ng-repeat="ledger_entry in visible_list">
						<td> [[($index)+((current_page-1)*page_interval)+1]] </td>
						<td>[[ledger_entry.date]]</td>
						<td>[[ledger_entry.transaction_ref]]</td>	
						<!-- <td ng-show="ledger_entry.credit_ledger==ledger_name"> Debit By [[ledger_entry.debit_ledger]]</td>
						<td ng-show="ledger_entry.debit_ledger==ledger_name"> Credit By [[ledger_entry.credit_ledger]]</td> -->
						<td>[[ledger_entry.narration]]</td>
						<td>[[ledger_entry.debit_amount]]</td>
						<td>[[ledger_entry.credit_amount]]</td>
						<!-- <td><span ng-show="ledger_entry.credit_ledger==ledger_name">[[ledger_entry.debit_amount]]</span></td>
						<td><span ng-show="ledger_entry.debit_ledger==ledger_name">[[ledger_entry.credit_amount]]</span></td> -->
						<td>[[ledger_entry.balance]]</td>
					</tr>
				</table>
			</div>
			<div ng-show="ledger_entries.length > 0 ">
				{% include 'pagination_div.html' %}
			</div>
		</div>
{% endblock content %}