{% extends 'base.html' %}
{% block body_id %}accounts{% endblock %}
{% block title %} Ledgers {% endblock title%}
{% block controller %} ng-controller="LedgerTreeController" ng-init="init('{{csrf_token}}')"{% endblock controller %}
{% block extrahead %}
	<script type="text/ng-template" id="ledger_renderer.html">		
        <a href="" class="shrink closed" ng-click="toggle_ledger_view($event, ledger)" >
        	<span>
        		<i class="closed-icon fa fa-plus-circle"></i>
        		<i class="open-icon fa fa-minus-circle"></i>
        		[[ledger.name]]
        	</span>
        </a>        
        <a ng-click="add_subledger(ledger)" class="new_button" href="#">
        	<i class="fa fa-plus"></i>  
        </a>
        <a ng-click="edit_subledger(ledger)" class="edit_button" href="#"> 
        	<i class="fa fa-edit"></i>
        </a>
        <ul>
        	<li ng-repeat="ledger in ledger.subledgers" class="child" ng-include = "'ledger_renderer.html'" >
        	 </li>
    	</ul>
	</script>
{% endblock %}
{% block horizontal_menu %}
	<ul>
		<li class="horizontal_menu_active"> <a href="{% url 'chart_of_accounts' %}"> Chart Of Accounts </a></li>
		<li><a href="{% url 'other_transactions' %}">Other Transactions</a></li>
		<li><a href="{% url 'contra_transactions' %}">Contra Transactions</a></li>
		<li><a href="{% url 'payments' %}">Payments</a></li>
		<li><a href="{% url 'opening_balance' %}">Opening Balance</a></li>
		<li><a href="{% url 'edit_transactions' %}">Edit Transactions</a></li>
		<li><a href="{% url 'receipts' %}">Receipts</a></li>
	</ul>
{% endblock %}
{% block sub_menu%}

	<li ng-repeat="ledger_data in parent_ledgers" ng-class="{'horizontal_menu_active': ledger_data.index_val == 'first' }"><a href="" ng-click="get_ledgers($event, ledger_data)">[[ledger_data.name]]</li>
{% endblock sub_menu%}
{% block content %}
	<div class="tree_view col-md-4 col-sm-4">
		<div class="tree_header white_bg">
			<a href="" ng-click="create_ledger()"class="create_new"> </a>
		</div>
		<div class="white_bg min-height">			
		    <ul>
		        <li ng-repeat="ledger in ledgers.subledgers" class="parent" ng-include="'ledger_renderer.html'" ></li>
		    </ul>
		</div>
	</div>		
	<div class="col-md-8 col-sm-8 white_bg min-height">
		<div class="tree_header white_bg no-border">
		</div>
		<div class="new_ledger min-height" ng-show="new_ledger ">
			<div class="control">
				<label>Parent Ledger</label>
				<input type="text" name="ledger_name" ng-model="ledger_name" ng-change="get_ledger_list()" ng-disabled="ledger_view=='tree'" autocomplete="off" />
			</div>
			<div class="control">
				<input type="hidden" ng-model="selected_parent_ledger">
				<div ng-show="ledgers_list.length > 0" class="search_list">
					<div ng-repeat="ledger in ledgers_list" class="search_list_item" ng-class="{'highlight': $index == focusIndex}" ng-click="get_ledger_details(ledger)" ><!-- -->
						<span>[[ledger.name]]</span>
					</div>
				</div>
				<p >[[no_ledger_msg]]</p>
			</div>
			<div class="control">
				<label>New Ledger</label>
				<input type="text" ng-model="ledger.name"/>
			</div>
			<div class="button_control">
				<p >[[validate_ledger_error_msg]]</p><br/>
				<input type="button"class="create_button" value="Save" ng-click="save_ledger()">
				<input type="button"class="create_button" value="Cancel" ng-click="hide_popup()"><br/>
			</div>
		</div>
	</div>
{% endblock content %}