{% extends 'base.html' %}
{% block title %} Account Receivable Report {% endblock title%}
{% block body_id %}customers{% endblock %}
{% block controller %} ng-controller="AccountsReceivableController" ng-init="init('{{csrf_token}}')"{% endblock controller %}
{% block horizontal_menu %}
<ul>
		<li> <a href="{% url 'customers' %}"> Customer List </a></li>
		<li class=""> <a href="{% url 'add_customer' %}" class="no-border">New Customer </a></li>
		<li class="horizontal_menu_active"> <a href="{% url 'accounts_receivable' %}"> A/c Receivable </a></li>
		<li> <a href="{% url 'customer_bonus_points' %}"> Customer Bonus Points Report </a></li>
	</ul>
{% endblock %}
{% block submenu_container%}
{% endblock submenu_container%}
{% block content %}
	<h2> Accounts Receivable </h2>
	<table class="table table-striped list_table" ng-show="account_receivables.length > 0" >
		<tr>
			<th>Sl No</th>
			<th>Account Name</th>
			<th>Invoice</th>
			<th>Type/Particulars</th>
			<th>Total Amount</th>
			
		</tr>
		<tr ng-repeat="account_receivable in account_receivables">
			<td> [[$index+1]] </td>
			<td>[[account_receivable.account_name]]</td>
			<td>[[account_receivable.invoice]]</td>
			<td>[[account_receivable.particulars]]</td>
			<td>[[account_receivable.amount]]</td>
			
			
		</tr>
		
	</table>
	<div >
		<button  ng-click="get_account_receivable_report()" >Generate PDF</button>
	</div>
{% endblock content %}