{% extends 'base.html' %}
{% block title %} 
	{% if customer_id %}
		Edit Customer
	{% else %}
		New Customer 
	{% endif %}
{% endblock title%}
{% block body_id %}customers{% endblock %}
{% block controller %} ng-controller="AddCustomerController" ng-init="init('{{ csrf_token }}', '{{ customer_id }}')" 
{% endblock controller %}
{% block horizontal_menu %}
	<ul>
		<li> <a href="{% url 'customers' %}" class="no-border"> Customer List </a></li>
		<li class="horizontal_menu_active"> <a href="{% url 'add_customer' %}"> 
			{% if customer_id %}
				Edit Customer
			{% else %}
				New Customer 
			{% endif %}
		</a></li>
		<li> <a href="{% url 'accounts_receivable' %}"> A/c Receivable </a></li>
		<li> <a href="{% url 'customer_bonus_points' %}"> Customer Bonus Points Report </a></li>
	</ul>
{% endblock %}
{% block submenu_container%}
{% endblock submenu_container%}
{% block content %}
<div id="add_customer" class="col-md-12 col-sm-12 margin-top">
	<!-- <h2>
		{% if customer_id %}
			Edit Customer
		{% else %}
			New Customer
		{% endif %}
	</h2> -->
	<div class="col-md-2 col-sm-2"><!-- Place holder --></div>
	<div class="col-md-8 col-sm-8">
		<form>
			<div class="control">
				<label>Name</label>
				<input type="text" ng-model="customer.name"/>
			</div>
			<div  class="control">
				<label>Address</label>
				<input type="text" ng-model="customer.address"/>
			</div>
			<div  class="control">
				<label>Area</label>
				<input type="text" ng-model="customer.area"/>
			</div>
			<div  class="control">
				<label>Contact Number</label>
				<input type="text" ng-model="customer.contact_number"/>
			</div>
			<div  class="control">
				<label>Email</label>
				<input type="text" ng-model="customer.email"/>
			</div>		
			<div class="control">
				<p class="error_msg">[[validate_customer_error_msg]]</p><br/>
				<input class="create_button" type="submit" value="Save" ng-click="save_customer()">
			</div>
		</form>
	</div>
	<div class="col-md-2 col-sm-2"><!-- Place holder --></div>
</div>
{% endblock content %}