{% extends 'base.html' %}
{% block title %} Customers {% endblock title%}
{% block body_id %}customers{% endblock %}
{% block controller %} ng-controller="CustomerController" ng-init="init('{{ csrf_token }}')" 
{% endblock controller %}
{% block horizontal_menu %}
	<ul>
		<li class="horizontal_menu_active"> <a href="{% url 'customers' %}"> Customer List </a></li>
		<li class=""> <a href="{% url 'add_customer' %}">New Customer </a></li>
		<li> <a href="{% url 'accounts_receivable' %}"> A/c Receivable </a></li>
		<li> <a href="{% url 'customer_bonus_points' %}"> Customer Bonus Points Report </a></li>
	</ul>
{% endblock %}
{% block dialogue_popup %}
	{% include 'view_customer.html' %}                        
{% endblock %}
{% block submenu_container%}
{% endblock submenu_container%}
{% block content %}
<!-- 	<h2> Customers </h2>
 -->

    <div class="content_search col-md-7 col-sm-6">
		<label>Search Customer</label>
		<input type="text" name="customer_name" ng-model="customer_name" ng-change="get_customer_list()" >

	</div>	
	
	<table ng-show="customers.length > 0" class="table table-striped" >

		<!--<tr>
			<th style="background:#4A7F7C">No</th>
			<th style="background:#4A7F7C">Name</th>
			<th style="background:#4A7F7C">Phone Number</th>
			<th style="background:#4A7F7C">Email</th>
			<th style="background:#4A7F7C">Actions</th>
		</tr>-->

        <div>
        	<tr>
			<th style="background = #4A7F7C">No</th>
			<th>Name</th>
			<th>Phone Number</th>
			<th>Email</th>
			<th>Actions</th>
		</tr>
         </div>	
		<tr ng-repeat="customer in customers">
			<td>[[customer.id]]</td>
			<td>[[customer.name]]</td>
			<td>[[customer.contact_number]]</td>
			<td>[[customer.email]]</td>
			<td><a href="" ng-click="view_customer(customer)" >View</a> &nbsp; &nbsp; &nbsp;
			<a href="{% url 'edit_customer' %}?customer_id=[[customer.id]]" ng-click="edit_customer_details(customer)" class="edit_button">Edit</a>&nbsp; &nbsp; &nbsp;
			<a href="{% url 'delete_customer' %}?customer_id=[[customer.id]]" class="delete_button">Delete</a></td>
		</tr>
	
	<!--<div class="content_search col-md-12 col-sm-12 margin-top">
		<button ng-click="create_customer()" class="create_button right">Create New Customer</button>
	</div>-->
	<!--<tr><td colspan="4">
	</td><td>Total customers:[[cust_count]]</td></tr>-->
	<p class="error_msg">[[no_customer_msg]]</p>		
	</table>

		
{% endblock content %} 