{% extends 'base.html' %}
{% block title %} Customer Bonus Point Report {% endblock title%}
{% block body_id %}customers{% endblock %}
{% block controller %} ng-controller="CustomerBonusPointController" ng-init="init('{{csrf_token}}')"{% endblock controller %}
{% block horizontal_menu %}
	<ul>
		<li> <a href="{% url 'customers' %}"> Customer List </a></li>
		<li class=""> <a href="{% url 'add_customer' %}">New Customer </a></li>
		<li> <a href="{% url 'accounts_receivable' %}" class="no-border"> A/c Receivable </a></li>
		<li class="horizontal_menu_active" > <a href="{% url 'customer_bonus_points' %}"> Customer Bonus Points Report </a></li>
	</ul>
{% endblock %}
{% block submenu_container%}
{% endblock submenu_container%}

{% block extrahead %}
	<script>
		$(function() {
			$("#start_date").datepicker();
			$("#end_date").datepicker();
		});
	</script>
{% endblock %}

{% block content %}
	<h2>Customer Bonus Point Report</h2>
	<div class="report_form row">
		<div class="col-md-6 col-sm-6">
			<div class="control">
				<label>Start Date </label>
				<input type="text" value="{{current_date}}" id="start_date" >
			</div>
			<div class="control">
				<label>End Date </label>
				<input type="text" id="end_date" readonly>
			</div>
			<div class="control">
				<label>Customer </label>
				<input type="text" name="customer" ng-model="customer_name" ng-change="get_customer_details()">
				<div ng-show="customers.length > 0" class="search_list">
					<div ng-repeat="customer in customers" class="search_list_item" ng-click="select_customer(customer)" ng-class="{'highlight': $index == focusIndex}">
						<span>[[customer.name]]</span>
					</div>
				</div>
				<p class="error_msg">[[no_customer_msg]]</p>
			</div>
			<div class="button_control">
				<input type="button" ng-click="view_bonus_points()" value="View" class="create_button" />
				<input type="button" ng-click="generate_pdf()" value="Generate PDF" class="create_button" />
				<p class="error_msg">[[validate_error_msg]]</p>
			</div>
		</div>
		<div class="col-md-12 col-sm-12">
			<table ng-show="customer_bonus_point_details.length > 0" class="table table-striped">
				<tr>
					<th>Date</th>
					<th>Particulars</th>
					<th>Bill Amount</th>
					<th>Bonus Point Amount </th>
				</tr>
				<tr ng-repeat="bonus_point in customer_bonus_point_details">
					<td>[[bonus_point.date]]</td>
					<td>[[bonus_point.invoice]]</td>
					<td>[[bonus_point.bill_amount]]</td>
					<td>[[bonus_point.amount]]</td>
				</tr>
			</table>
		</div>
	</div>
{% endblock content %}