<div id="view_customer">
	<div class="control">
		<label>Name : </label>
		<label>[[customer.name]]</label>
	</div>
	<div class="control">
		<label>Address : </label>
		<label>[[customer.address]]</label>
	</div>
	<div class="control">
		<label>Area : </label>
	    <label>[[customer.area]]</label>
	</div>
	<div class="control">
		<label>Contact Number : </label>
	    <label>[[customer.contact_number]]</label>
	</div>
	<div class="control">
		<label>Email : </label>
	    <label>[[customer.email]]</label>
	</div>
	<div class="button_control">
		<input class="create_button" type="submit" value="Cancel" ng-click="hide_popup()"><br/>
	</div>
</div>