{% extends 'base.html' %}

{% block body_id %}sales{% endblock %}
{% block title %} DeliveryNote {% endblock title%}
{% block controller %} ng-controller="DeliveryController" ng-init="init('{{csrf_token}}')"{% endblock controller %}
{% block dialogue_popup %}
	{% include 'payment_mode_details.html' %}
	{% include 'add_salesman_popup.html' %}
	{% include 'add_customer_popup.html' %}    
{% endblock %}
{% block extrahead %}
	<script>
		$(function() {
			$( "#deliverynote_date" ).datepicker();
			$( "#cheque_date" ).datepicker();
		});
	</script>
{% endblock %}
{% block horizontal_menu %}
	<ul>
		<li> <a href="{% url 'sales_entry' %}"> Sales </a></li>
		<li> <a href="{% url 'sales_return_entry' %}"> Sales Return </a></li>
		<li> <a href="{% url 'sales_return_view' %}"> Sales Return View</a></li>
		<!-- <li><a href="{% url 'receipt_to_invoice' %}">Receipt To Invoice</a></li> -->
		<li><a href="{% url 'estimate_entry' %}" class="no-border">Estimate</a></li>
		<li  class="horizontal_menu_active"><a href="{% url 'deliverynote_entry' %}">Delivery Note</a></li>
	</ul>
{% endblock %}
{% block sub_menu%}
	<li class="horizontal_menu_active"><a href="{% url 'deliverynote_entry' %}" class="no-border">Delivery Note</a></li>
	<li><a href="{% url 'deliverynote_view' %}">DeliveryNote View</a></li>
{% endblock sub_menu%}
{% block content %}
	<h2> Delivery Note</h2>
	<div class="form_container wide_form">
		<form name="sales_form">
			<div class="col-md-6 col-sm-6">	
				<div class="control">
					<label>DO No</label>
					<input type="text" ng-model="delivery.do_no"> 
				</div>		
				<div class="control">
					<label>Delivery Note No</label>
					<input type="text" ng-model="delivery.deliverynote_no">
				</div>	
			</div>
			<div class="col-md-6 col-sm-6">
				<div class="control">
					<label>Delivery Note Date</label>
					<input type="text" id="deliverynote_date"  value="{{current_date}}" readonly>
				</div>	
			</div>
			<div class="col-md-6 col-sm-6">
				<div class="control">
					<label>Salesman</label>
					<input type="text" ng-model="salesman_name" ng-change="search_salesman()" ng-click="select_salesman_flag=true"> 
					<div class="search_list" ng-show="select_salesman_flag">
						<div class="search_list_item" ng-click="select_salesman_flag=false" ng-show="select_salesman_flag" ng-hide="!select_salesman_flag">
							<span><a href="" ng-click="new_salesman(delivery)">Create New</a></span>
						</div>
							<div ng-repeat="salesman in salesmen track by $index" class="search_list_item" ng-click="select_salesman(salesman)"  ng-class="{'highlight': $index == focusIndex}">
							<span>[[salesman.name]]</span>
						</div>
					</div>
					<p class="error_msg">[[no_salesman_message]]</p>
				</div>
				<div class="control">
					<label>Customer</label>
					<input type="text" ng-model="customer_name" ng-change="search_customer()" ng-click="select_customer_flag=true" id="sales_entry_customer" autocomplete="off"/>

					<div class="search_list" ng-show="select_customer_flag">
						<div class="search_list_item" ng-click="select_customer_flag=false" ng-show="select_customer_flag" ng-hide="!select_customer_flag">
							<span><a href="" ng-click="new_customer(sales)">Create New</a></span>
						</div>
							<div ng-repeat="customer in customers track by $index" class="search_list_item" ng-click="select_customer(customer)" ng-class="{'highlight': $index == focusIndex}">
							<span>[[customer.name]]</span>
						</div>
					</div>
					<p class="error_msg">[[no_customer_msg]]</p>
				</div>
			</div>
			<div class="col-md-10 col-sm-10">
				<div class="payment_mode">
					<label>Delivery Note type</label>
					<div class="col-md-6 col-sm-4">
					<div class="control">
						<input type="radio" ng-model="delivery.bill_type" value="Taxable" ng-click="change_bill_type('Taxable')"><label>Taxable</label>
						<input type="radio" ng-model="delivery.bill_type" value="NonTaxable" ng-click="change_bill_type('NonTaxable')"><label>Non Taxable</label>
					</div> 
				</div>
				</div>
			</div>
				<div class="control">
					<p class="error_msg">[[no_item_msg]]</p>
					<p class="error_msg">[[no_batch_msg]]</p>
				</div>
			<div>
				
				
			<br/>
			<hr>
			<table class="table list_table table-striped rules" ng-show="delivery.items.length > 0">
				<tr>
					<th>#</th>
					<th> Item Name </th>
					<th> Code </th>
					<th> Batch </th>
					<th> Stock </th>
					<th> UOM </th>
					<th> Quantity </th>
					<th><!-- <input type="checkbox" ng-model="select_all_price_type" ng-click="change_price_type()" -->Price Type</th>
					<th> MRP </th>
					<th ng-show="delivery.bill_type == 'Taxable'"> Tax </th> 
					<th> Net Amount </th>
					<th> Remove </th>
				</tr>
				<tr ng-repeat="item in delivery.items">
					<td>[[$index+1]]</td>
					<td>
						<input type="text" ng-model="item.item_name" ng-change="search_items(item)" ng-click="item.item_search=true;"/>
						<div class="search_list_container">
							<div  class="search_list" ng-show="item.item_search && items.length > 0">
								<div ng-repeat="item_data in item.items" class="search_list_item" ng-class="{'highlight': $index == focusIndex}" ng-click="get_item_details(item_data)">
									<span>[[item_data.name]]</span>
								</div>
							</div>
						</div>
						
					</td>
					
					<td>[[item.code]]</td>
					<td>
						<input type="text" ng-change="search_batch(item)" ng-model="item.batch_name" ng-readonly="item.type=='Non Stockable' || item.type=='Services'">
						<div class="search_list_container">
							<div ng-show="item.batches.length > 0" class="search_list ">
								<div ng-repeat="batch in item.batches" class="search_list_item" ng-click="select_batch(batch)" ng-class="{'highlight': $index == focusIndex}">
									<span>[[batch.name]]</span>
								</div>
							</div>
						</div>
						
					</td>
					<td>[[item.stock]] [[item.stock_unit]]</td>
					<td>
						<select ng-model="item.uom" ng-change="calculate_quantity_from_uom(item)" ng-options="uom.uom as uom.uom for uom in item.uoms">
							<option value="" >Select</option>
							</option>
						</select>
					</td>
					<td>
						<input type="text" ng-model="item.quantity" ng-change="calculate_quantity_from_uom(item)" ng-show="item.type=='Stockable'">
						<input type="text" ng-model="item.quantity" ng-change="calculate_amount(item)" ng-show="item.type=='Non Stockable' || item.type=='Services'">
					</td>
					<td>
						<select name="price_type" ng-model="item.price_type" ng-change="calculate_quantity_from_uom(item)">
								<option value="Whole Sale Price">Whole Sale Price</option>
								<option value="Retail Price">Retail Price</option>
								<option value="Branch Price">Branch Price</option>
								<option value="Customer Card Price">Customer Card Price</option>
							</select>
						<!-- <input type="checkbox" ng-change="calculate_quantity_from_uom(item)" ng-model="item.price_type"></td> -->
					<td>
						<!-- [[item.current_item_price]] -->
						<label ng-show="item.type=='Stockable'">[[item.current_item_price]]</label>
						<input type="text" ng-model="item.current_item_price" ng-change="calculate_amount(item)" ng-show="item.type=='Non Stockable' || item.type=='Services'"/>
					</td>
					<td ng-show="delivery.bill_type == 'Taxable'">[[item.tax]]<span ng-show="item.tax > 0">%</span></td>
					<td>[[item.net_amount]]</td>
					<td><input class="" type="button" value="Remove" ng-click="remove_item(item)"></td>
				</tr> 
			</table>	
			<hr>
			<div class="control">
				<input class="" type="button" value="New Item" ng-click="add_new_delivery_item()">	
				<input class="create_button" type="button" ng-click="add_bulk_items()" value="Bulk Add Item">
			</div>	
			<div class="col-md-6 col-sm-6"	>
				<div class="control">
					<label>Discount</label>
					<input type="text" ng-model="delivery.discount" ng-change="calculate_total_amount()">
				</div>
				
				<div class=" control">
					<label>Grant Total</label>
					<input type="text" ng-model="delivery.grant_total" readonly>
				</div>
			</div>
			
			<div class="button_control">
				<p class="error_msg">[[validate_delivery_msg]]</p>
				<div class="col-md-6 col-sm-6">
				<input class="" type="button" value="Save" ng-click="save_delivery()">
			</div>
			</div>
		</form>
	</div>
{% endblock %}