{% extends 'base.html' %}

{% block body_id %}purchase{% endblock %}
{% block title %} Purchase Return {% endblock title%}
{% block controller %} ng-controller="PurchaseReturnController" ng-init="init('{{csrf_token}}')"{% endblock controller %}
{% block dialogue_popup %}
	{% include 'payment_mode_details.html' %}
	{% include 'bank_account_details.html' %} 
	{% include 'show_transaction_details.html' %}  
{% endblock %}
{% block horizontal_menu %}
	<ul>
		<li> <a href="{% url 'purchase_entry' %}"> Purchase Entry </a></li>
		<li> <a href="{% url 'purchase_view' %}" class="no-border"> View Purchase </a></li>
		<li class="horizontal_menu_active"> <a href="{% url 'purchase_return' %}"> Purchase Return </a></li>
		<li> <a href="{% url 'purchase_return_view' %}"> Purchase Return View</a></li>
		<li><a href="{% url 'price_settings' %}">Price Settings</a></li>
		<li><a href="{% url 'purchase_edit' %}">Purchase Edit</a></li>
	</ul>
{% endblock %}
{% block submenu_container%}
{% endblock submenu_container%}

{% block extrahead %}
	<script>
		$(function() {
			$( "#invoice_date" ).datepicker();
			$( "#cheque_date" ).datepicker();
		});
	</script>
{% endblock %}
{% block content %}
	
	<h2> Purchase Return </h2>
	<div class="form_container wide_form">
		<form name="purchase_return_form">	
			<div class="col-md-6 col-sm-6">
				<div class="control">
					<label>Purchase Invoice No</label>
					<input type="text" ng-model="purchase_invoice" ng-change="search_invoice()" ng-click="select_invoice_flag=true"autocomplete="off"/>

					<div class="search_list" ng-show="select_invoice_flag">
						
						<div ng-repeat="invoice_no in invoice_nos track by $index" class="search_list_item" ng-click="select_invoice(invoice_no)" ng-class="{'highlight': $index == focusIndex}">
						<span>[[invoice_no.invoice_no]]</span>
						</div>
					</div>
					<p class="error_msg">[[no_purchase_message]]</p>
				</div>		
				<div class="control">
					<label>Return Invoice No</label>
					<input type="text" ng-model="purchase_return.return_invoice">
				</div>	
			</div>
			<div class="col-md-6 col-sm-6">
				<div class="control">
					<label>Return Invoice Date</label>
					<input type="text" id="invoice_date">
				</div>	
				<div class="control">
					<label>Supplier</label>
					<input type="text" ng-model="purchase_return.supplier" readonly> 
				</div>
			</div>
			<div class="col-md-9 col-sm-9">
				<label>Payment Mode</label>
				<div class="col-md-8 col-sm-4">
					<input type="radio" ng-model="purchase_return.payment_mode" value="cash" />
					<label>Cash</label>
					<input type="radio" ng-model="purchase_return.payment_mode" value="cheque" ng-click="bank_account_details('cheque')" />
					<label>Cheque</label>
					<input type="radio" ng-model="purchase_return.payment_mode" value="card" ng-click="bank_account_details('card')" />
					<label>Card</label>
				</div> 
			</div>
			<hr ng-show="purchase_return.items.length > 0">
			<table class="table list_table table-striped rules" ng-show="purchase_return.items.length > 0">
				<tr>
					<th>#</th>
					<th> Tax</th>
					<th> Item Name </th>
					<th> Batch </th>
					<th> Stock </th>
					<th> Purchased Qty </th>
					<th> Returned Qty </th>
					<th> Uom </th>
					<th> Purchase Price </th>
					<th> Quantity </th>
					<th> Tax </th>
					<th> Net Amount </th>
					<th> Remove </th>
				</tr>
				<tr ng-repeat="item in purchase_return.items">
					<td>[[$index+1]]</td>
					<td><input type="checkbox" name="tax_included" ng-model="item.tax_inclusive" ng-click="get_tax_inclusive_details(item)" disabled/></td>
					<td>
						<input type="text" ng-model="item.name" ng-change="get_purchase_item_details(item)"/>
						<div class="search_list_container">
							<div class="search_list" ng-show="item.items.length > 0">
								<div ng-repeat="item_data in item.items" class="search_list_item" ng-click="select_purchase_item(item_data, item)" ng-class="{'highlight': $index == focusIndex}">
									<span>[[item_data.name]]</span>
								</div>
							</div>
						</div>
						<p class="error_msg">[[no_supplier_msg]]</p>
					</td>
					<td>[[item.batch_name]]</td>
					<td>[[item.stock]]</td>
					<td>[[item.purchased_quantity]]</td>
					<td>[[item.returned_qty]]</td>
					<td>[[item.purchase_unit]]</td>
					<td>[[item.purchase_price]]</td>
					<td><input type="text" ng-model="item.quantity" ng-change="calculate_net_amount(item)"></td>
					<td>[[item.tax]]</td>
					<td><input type="text" ng-model="item.net_amount" readonly></td>
					<td><a href="" ng-click="remove_purchase_return_item(item)">X</a></td>
				</tr> 
			</table>	
			<hr ng-show="purchase_return.items.length > 0">		
			<div class="control">
				<p class="error_msg">[[item_selected_msg]]</p>
				<p class="error_msg">[[no_item_error_message]]</p>
				<input type="button" ng-click="add_new_purchase_return_item()" value="New Item" />
				<input type="button" ng-click="load_all_items()" value="Load All Items" />
			</div>
			<div class="col-md-6 col-sm-6">
			<div class="control">
				<label>Grant Total</label>
				<input type="text" ng-model="purchase_return.grant_total" readonly>
			</div>
			<div class="control">
				<label>Purchase Tax</label>
				<input type="text" ng-model="purchase_return.purchase_tax" readonly>
			</div>
			<div class="button_control">
				<p class="error_msg">[[validate_purchase_return_msg]]</p>
				<input class="" type="button" value="Save" ng-click="save_purchase_return()">
			</div>
		</div>
		</form>
	</div>
{% endblock content%}