{% extends 'base.html' %}

{% block body_id %}reports{% endblock %}
{% block title %} Purchase Report{% endblock title%}
{% block controller %} ng-controller="PurchaseReportController" ng-init="init('{{csrf_token}}')"{% endblock controller %}

{% block extrahead %}
	<script>
		$(function() {
			$("#start_date").datepicker();
			$("#end_date").datepicker();
		});
	</script>
{% endblock %}
{% block horizontal_menu %}
	<ul>
		<li class="horizontal_menu_active"> <a href="{% url 'purchase_report' %}"> Purchase </a></li>
		<li> <a href="{% url 'purchase_return_report' %}"> Purchase Return </a></li>
		<li> <a href="{% url 'sales_report' %}"> Sales </a></li>
		<li> <a href="{% url 'sales_return_report' %}"> Sales Return </a></li>
		<li><a href="{% url 'day_book' %}"> Accounts </a></li>
		<li><a href="{% url 'vendor_stock_report' %}"> Suppliers </a></li>
		<li ><a href="{% url 'stock_report' %}"> Inventory </a></li>
	</ul>
{% endblock %}
{% block sub_menu %}
	<li class=""> <a href="{% url 'purchase_report' %}"> Date Wise Report </a></li>
	<li class="horizontal_menu_active"> <a href="{% url  'purchase_report_supplier_wise' %}"> Supplier Wise Report  </a></li>
{% endblock sub_menu%}

{% block content %}
	<h2>Supplier Wise Report</h2>
	<div class="report_form row">
		<div class="col-md-6 col-sm-6">
			<div class="control" >
				<label>Supplier</label>
				<input type="text" name="supplier_name" ng-model="supplier_name" ng-change="get_supplier_details()" autocomplete="off">
				<div class="search_list_container">
					<div class="search_list" ng-show="suppliers.length > 0">
						<div class="search_list_item" ng-repeat="supplier in suppliers track by $index" ng-class="{'highlight': $index == focusIndex}" ng-click="select_supplier(supplier)">
							<span>[[supplier.name]]</span>
						</div>
					</div>
				</div>
				<p class="error_msg">[[no_supplier_msg]]</p>
			</div>
		</div>
		
		<table class="table table-striped list_table" ng-show="purchases.length > 0">
			<tr>
				<th>Invoice No</th>
				<th>Invoice Date</th>
				<th>Transaction Reference</th>
				<th>Supplier</th>
				<th>Discount</th>
				<th>Tax</th>
				<th>Grant Total</th>
			</tr>
			<tr ng-repeat="purchase in visible_list">
				<td>[[purchase.invoice_no]]</td>
				<td>[[purchase.invoice_date]]</td>
				<td>[[purchase.transaction_ref]]</td>
				<td>[[purchase.supplier]]</td>
				<td>[[purchase.discount]]</td>
				<td>[[purchase.purchase_tax]]</td>
				<td>[[purchase.grant_total]]</td>
			</tr>
		</table>
		<div ng-show="purchases.length > 0">
			{% include 'pagination_div.html' %}
		</div>
		<div class="col-md-12 col-sm-12">
			<div class="button_control" >
				<p class="error_msg">[[report_mesg]]</p>
				<input type="submit" value="View" ng-click="generate_supplier_report('view')">
				<input type="submit" value="Generate Report" ng-click="generate_supplier_report()">
			</div>
		</div>
		
	</div>
		
{% endblock content %}