<div class="form_container" id="payment_details">
	<h2 ng-hide="is_cheque">Card Details</h2>
	<h2 ng-show="is_cheque">Cheque Details</h2>
	<div class="control">
		<!-- <label>Bank Name :</label>
		<label>[[bank_name]] </label> -->
		<p>Bank Name : [[bank_name]]</p>
	</div>
	<div class="control" ng-show="is_cheque">
		<!-- <label>Branch Name :</label>
		<label>[[branch]]</label> -->
		<p>Branch Name : [[branch]]</p>
	</div>
	<div class="control" ng-show="is_cheque">
		<p>Cheque No : [[cheque_number]]</p>
		<!-- <label>Cheque No :</label>
		<label>[[cheque_number]]</label> -->
	</div>
	<div class="control" ng-show="is_cheque">
		<p>Cheque Date : [[cheque_date]]</p>
		<!-- <label>Cheque Date :</label>
		<label>[[cheque_date]]</label> -->
	</div>
	<div class="control" ng-hide="is_cheque">
		<p>Card Number : [[card_number]]</p>
		<!-- <label>Card Number :</label>
		<label>[[card_number]]</label> -->
	</div>
	<div class="control" ng-hide="is_cheque">
		<!-- <label>Card Holder: </label> 
		<label>[[card_holder_name]]</label> -->
		<p>Card Holder: [[card_holder_name]]</p>
	</div>
	<div class="button_control">
		<input type="submit" ng-click="hide_popup()" value="Ok"/>
	</div>
</div>