<div class="" id="add_supplier">
	<div class="col-md-2 col-sm-2"></div>
	<div class="col-md-8 col-sm-8">
	<form name="supplier_form">
		<h3> New Supplier </h3>
		<div class="control">
			<label>Name</label>
			<input type="text" ng-model="supplier.name" name="supplier_name"/>
		</div>
		<div class="control">
			<label>Address</label>
			<input type="text" ng-model="supplier.address" name="supplier_address"/>
		</div>
		<div class="control">
			<label>Contact Number</label>
			<input type="text" ng-model="supplier.contact"/>
		</div>
		<div class="control">
			<label>Email</label>
			<input type="text" ng-model="supplier.email"/>
		</div>
		<div class="control">
			<label>Credit Period </label>
			<input type="text" ng-model="supplier.credit_period" class="small"/>
			<select ng-model="supplier.credit_period_parameter" class="small">
				<option value="">Select</option>
				<option value="Days">Days</option>
				<option value="Months">Months</option>
			</select>
		</div>	
				
		<div class="control">
			<p class="error_msg">[[error_supplier]]</p>
			<input class="create_button" type="button" value="Save" ng-click="save_supplier()"/>
			<input class="create_button" type="button" value="Cancel" ng-click="hide_popup()">
		</div>
	</form>
	</div>
    <div class="col-md-2 col-sm-2"></div>
</div> 