{% extends 'base.html' %}

{% block body_id %}reports{% endblock %}
{% block title %} Vendor wise Payment Report{% endblock title%}
{% block controller %} ng-controller="VendorWisePaymentReportController" ng-init="init('{{csrf_token}}')"{% endblock controller %}

{% block extrahead %}
	<script>
		$(function() {
			$("#start_date").datepicker();
			$("#end_date").datepicker();
		});
	</script>
{% endblock %}
{% block horizontal_menu %}
	<ul>
		<li class=""> <a href="{% url 'purchase_report' %}"> Purchase </a></li>
		<li> <a href="{% url 'purchase_return_report' %}"> Purchase Return </a></li>
		<li> <a href="{% url 'sales_report' %}"> Sales </a></li>
		<li> <a href="{% url 'sales_return_report' %}"> Sales Return </a></li>
		<li class=""><a href="{% url 'day_book' %}" class="no-border"> Accounts </a></li>
		<li class="horizontal_menu_active"><a href="{% url 'vendor_stock_report' %}"> Suppliers </a></li>
		<li ><a href="{% url 'stock_report' %}"> Inventory </a></li>
	</ul>
{% endblock %}
{% block sub_menu %}
	<li> <a href="{% url 'vendor_stock_report' %}"> Vendor Wise Stock Report </a></li>
	<li> <a href="{% url 'vendor_wise_item_report' %}"> Vendor Wise Item Report </a></li>
	<li class="horizontal_menu_active"> <a href="{% url 'vendor_wise_payment_report' %}"> Vendor Wise Payment Report </a></li>
{% endblock sub_menu%}

{% block content %}
	<h2>Vendor Wise Payment Report</h2>
	<div class="report_form row">
		<div class="col-md-6 col-sm-6">
			<div class="control" >
				<label>Vendor</label>
				<input type="text" name="supplier_name" ng-model="supplier_name" ng-change="get_supplier_details()" autocomplete="off">
				<div class="search_list_container">
					<div class="search_list" ng-show="suppliers.length > 0">
						<div class="search_list_item" ng-repeat="supplier in suppliers track by $index" ng-class="{'highlight': $index == focusIndex}" ng-click="select_supplier(supplier)">
							<span>[[supplier.name]]</span>
						</div>
					</div>
				</div>
				<p class="error_msg">[[no_supplier_msg]]</p>
			</div>
			<div class="control">
				<label>Start Date</label>
				<input type="text" id="start_date">
			</div>
			<div class="control">
				<label>End Date</label>
				<input type="text" id="end_date">
			</div>
		</div>
		<table class="table table-striped list_table" ng-show="vendor_payments.length > 0">
			<tr>
				<th>Sl No</th>
				<th>Date</th>
				<th>Tr. Reference No</th>
				<th>Amount</th>
				<th>Invoice</th>
			</tr>
			<tr ng-repeat="item in visible_list">
				<td>[[($index)+((current_page-1)*page_interval)+1]]</td>
				<td>[[item.date]]</td>
				<td>[[item.transaction_ref]]</td>
				<td>[[item.debit_amount]]</td>
				<td ng-show="item.invoice.length > 0">[[item.invoice]]</td>
				<td ng-show="item.invoice == null ">[[item.narration]]</td>
			</tr>
		</table>
		<div class="col-md-6 col-sm-6">
			<div ng-show="vendor_payments.length > 0">
				{% include 'pagination_div.html' %}
			</div>
		</div>
		<div class="col-md-12 col-sm-12">
			<div class="button_control" >
				<p class="error_msg">[[report_mesg]]</p>
				<input type="button" class="create_button" value="View" ng-click="generate_supplier_item_report('view')">
				<input type="button" class="create_button" value="Generate Report" ng-click="generate_supplier_item_report()">
			</div>
		</div>
		
	</div>
{% endblock content %}