<div id="view_supplier">
	<div class="control">
		<label>Name : </label>
		<label>[[supplier.name]]</label>
	</div>
	<div class="control">
		<label>Address : </label>
		<label>[[supplier.address]]</label>
	</div>
	<div class="control">
		<label>Contact Number : </label>
	    <label>[[supplier.contact]]</label>
	</div>
	<div class="control">
		<label>Email : </label>
	    <label>[[supplier.email]]</label>
	</div>
	<div class="control">
		<label>Credit Period : </label>
	    <label>[[supplier.credit_period]] - [[supplier.credit_period_parameter]]</label>
	</div>
	<div class="button_control">
		<input class="create_button" type="submit" value="Cancel" ng-click="hide_popup()"><br/>
	</div>
</div>