{% extends 'base.html' %}
{% block title %} Salesman {% endblock title%}
{% block body_id %}salesman{% endblock %}
{% block controller %} ng-controller="AddSalesmanController" ng-init="init('{{ csrf_token }}', '{{ salesman_id }}')" 
{% endblock controller %}
{% block submenu_container%}
{% endblock submenu_container%}
{% block horizontal_menu %}
	<ul>
		<li class=""> <a href="{% url 'salesmen_list' %}" class="no-border"> Salesmen </a></li>
		{% if salesman_id %}
			<li class="horizontal_menu_active"> <a href="{% url 'salesman' %}">Edit Salesman </a></li>
		{% else %}
			<li class="horizontal_menu_active"> <a href="{% url 'salesman' %}">Add Salesman </a></li>
		{% endif %}
		<li> <a href="{% url 'incentives' %}" > Incentives </a></li>
	</ul>
{% endblock %}
{% block content %}
	<div  id="add_salesman" class="row">
		<div class="col-md-6 col-sm-6 margin-top">
			<form name="add_salesman_form">
				<div class="control">
					<label>First Name</label>
					<input type="text" ng-model="salesman.first_name"/>
				</div>
				<div class="control">
					<label>Last Name</label>
					<input type="text" ng-model="salesman.last_name"/>
				</div>
				<div class="control">
					<label>Address</label>
					<input type="text" ng-model="salesman.address"/>
				</div>
				<div class="control">
					<label>Contact Number</label>
					<input type="text" ng-model="salesman.contact_no"/>
				</div>
				<div class="control">
					<label>Email</label>
					<input type="text" ng-model="salesman.email"/>
				</div>		
				<div class="button_control">
					<p class="error_msg">[[validate_salesman_error_msg]]</p><br/>
					<input type="submit" value="Save" ng-click="save_salesman()">
				</div>
			</form>
		</div>
	</div>
{% endblock content %} 