{% extends 'base.html' %}

{% block title %}Bonus Point {% endblock title%}
{% block body_id %}bonus_point{% endblock %}
{% block controller %} ng-controller="CreateBonusPointController" ng-init="init('{{ csrf_token }}', '{{bonus_point_id}}')" 
{% endblock controller %}
{% block horizontal_menu %}
	<ul>
		<li class=""> <a href="{% url 'bonus_points' %}" class="no-border">Bonus Points </a></li>
		{% if bonus_point_id %}
			<li class="horizontal_menu_active"> <a href="" >Edit Bonus Point</a></li>
		{% else %}	
			<li class="horizontal_menu_active"> <a href="{% url 'create_bonus_point' %}" >Create new </a></li>
		{% endif %}
		<li class=""> <a href="{% url 'set_bonus_point' %}">Set Bonus Point </a></li>
		<li class=""> <a href="{% url 'view_bonus_point' %}">View Bonus Point </a></li>
	</ul>
{% endblock %}
{% block submenu_container%}
{% endblock submenu_container%}
{% block content %}
	
	<div class="row margin-top">
		{% if bonus_point_id %}
			<h2>Edit Bonus Point</h2>
		{% else %}
			<h2>Create Bonus Point</h2>
		{% endif %}
		<form name="add_bonus_point" class="add_bonus_point">
			<div class="col-md-6 col-sm-6">
			<div class="control">
				<label>Type</label>
				<select ng-model="bonus_point.type">
					<option value="">Select</option>
					<option value="Salesman">Salesman</option>
					<option value="Customer">Customer</option>
				</select>
			</div>
			<div class="control">
				<label>Bonus Point</label>
				<input type="text" name="point" ng-model="bonus_point.point" />
			</div>
			<div class="control">
				<label>Amount</label>
				<input type="text" name="amount" ng-model="bonus_point.amount" />
			</div>
			<div class="button_control">
				<p class="error_msg">[[bonus_point_error_msg]]</p>
				<input type="button" value="Save" ng-click="create_bonus_point()" />
			</div>
		</div>
		</form>
	</div>
{% endblock %}