{% extends 'base.html' %}
{% block title %}Groups{% endblock title%}
{% block body_id %}groups{% endblock body_id%}
{% block controller %}ng-controller="GroupController" ng-init="init('{{csrf_token}}')" {% endblock controller %}
{% block content %}
	<h2>Groups</h2>
	<button ng-click="create_group()">Create</button>
	<table ng-show="groups.length > 0">
		<tr>
			<th>Name</th>
			<th>Edit</th>
			<th>Delete</th>
		</tr>
		<tr ng-repeat="group in groups">
			<td>[[group.name]]</td>
			<td><a href="" ng-click="edit_group(group)">Edit</a></td>
			<td><a href="" ng-click="delete_group(group)">Delete</a></td>
		</tr>
	</table>
	<div ng-show="groups.length > 0 ">
	</div>
{% endblock %}