{% extends 'base.html' %}
{% block title %} Salesmen {% endblock title%}
{% block body_id %}salesmen{% endblock %}
{% block controller %} ng-controller="SalesmenController" ng-init="init('{{ csrf_token }}')" 
{% endblock controller %}
{% block horizontal_menu %}
	<ul>
		<li class="horizontal_menu_active"> <a href="{% url 'salesmen_list' %}"> Salesmen </a></li>
		<li class=""> <a href="{% url 'salesman' %}">Add Salesman </a></li>
		<li> <a href="{% url 'incentives' %}" > Incentives </a></li>
	</ul>
{% endblock %}
{% block submenu_container%}
{% endblock submenu_container%}
{% block dialogue_popup %}
	{% include 'view_salesman.html' %}                        
{% endblock %}
{% block content %}
	<!-- <h2> Salesmen </h2> -->
	<div class="row">
		<div class="content_search col-md-12 col-sm-12 margin-top">
			<input type="button" value="New Salesman" ng-click="create_salesman()" class="create_button"/>
		</div>
		<div class="content_search col-md-8 col-sm-8 margin-top">
			<label>Search Salesmen</label>
			<input type="text" name="salesman_name" ng-model="salesman_name" ng-change="get_salesmen_list()" >
			<p class="error_msg">[[no_salesman_message]]</p>
		</div>
		<table class="table table-striped" ng-show="salesmen.length > 0" >
			<tr>
				<th>Name</th>
				<th>View</th>
				<th>Edit</th>
				<th>Delete</th>
			</tr>
			<tr ng-repeat="salesman in visible_list">
				<td>[[salesman.name]]</td>
				<td><a href="" ng-click="view_details(salesman)">View</a></td>
				<td><a href="" ng-click="edit_salesman_details(salesman)">Edit</a></td>
				<td><a href="" ng-click="delete_salesman(salesman)">Delete</a></td>
			</tr>
		</table>
		<div ng-show="salesmen.length > 0 ">
			{% include 'pagination_div.html' %}
		</div>
	</div>
{% endblock content %} 