{% extends 'base.html' %}

{% block title %}Set Bonus Points {% endblock title%}
{% block body_id %}set_bonus_points{% endblock %}
{% block controller %} ng-controller="SetBonusPointController" ng-init="init('{{ csrf_token }}')" 
{% endblock controller %}
{% block horizontal_menu %}
	<ul>
		<li class=""> <a href="{% url 'bonus_points' %}" >Bonus Points </a></li>
		<li class=""> <a href="{% url 'create_bonus_point' %}" class="no-border">Create new </a></li>
		<li class="horizontal_menu_active"> <a href="{% url 'set_bonus_point' %}">Set Bonus Point </a></li>
		<li class=""> <a href="{% url 'view_bonus_point' %}">View Bonus Point </a></li>
	</ul>
{% endblock %}
{% block submenu_container%}
{% endblock submenu_container%}
{% block content %}
	<h2>Set Bonus Points</h2>
	<div class="row margin-top">
		<div class="col-md-6 col-sm-6">
		<div class="control">
			<label>Bonus Type</label>
			<select ng-model="bonus_type" ng-change="get_bonus_point_list()">
				<option value="">Select</option>
				<option value="Customer">Customer</option>
				<option value="Salesman">Salesman</option>
			</select>
		</div>
		<div class="control">
			<label>Batch</label>
			<input type="text" ng-model="batch_name" ng-change="get_batch_details()" />
			<div class="search_list" ng-show="batch_list.length > 0">
				<div ng-repeat="batch in batch_list" ng-class="{'highlight': $index == focusIndex}" ng-click="select_batch(batch)">
					<span>[[batch.name]]</span>
				</div>
			</div>
		</div>
		<div class="control">
			<label>Item</label>
			<input type="text" ng-model="batch_item_name" ng-change="get_batch_item_details()" />
			<div class="search_list" ng-show="batch_items.length > 0">
				<div ng-repeat="batch_item in batch_items" ng-class="{'highlight': $index == focusIndex}" ng-click="select_batch_item(batch_item)" class="search_list_item">
					<span>[[batch_item.item_name]]</span>
				</div>
			</div>
		</div>
		<div class="control">
			<label>UOM </label>
			<input type="text" ng-model="batch_item_uom" readonly />
			
		</div>
		<div class="control">
			<label>Bonus Quantity</label>
			<input type="text" ng-model="batch_bonus_point.bonus_quantity" />
		</div>
		
		<div class="control">
			<label>Bonus point</label>
			<select ng-model="batch_bonus_point.bonus_point" ng-options="bonus_point.id as bonus_point.name for bonus_point in bonus_points">
				<option value="">Select</option>
			</select>
		</div>
		<div class="button_control">
			<p class="error_msg">[[set_bonus_point_error_msg]]</p>
			<input type="button" value="Create" ng-click="create_bonus_point()" />
		</div>
	</div>
	</div>

{% endblock %}