<div id="view_staff">
	<div class="control">
		<p>First Name : [[staff_details.first_name]]</p>
	</div>
	<div class="control">
		<p>Last Name : [[staff_details.last_name]]</p>
	</div>
	<div class="control">
		<p>Username : [[staff_details.username]]</p>
	</div>
	<div class="control">
		<p>Email : [[staff_details.email]]</p>
	</div>
	<div class="control">
		<p>Designation : [[staff_details.designation]]</p>
	</div>
	<div class="control">
		<p>Address : [[staff_details.address]]</p>
	</div>
	<div class="control">
		<p>Contact No. : [[staff_details.contact_no]]</p>
	</div>
	<input type="submit" value="Cancel" ng-click="hide_popup()" class="create_button">
</div>